<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <button ion-button full>Ingresar</button>

  <ion-img style="width: 80px; height: 80px;" src="/assets/user.png"></ion-img>
</ion-content>

