<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      
      <ion-card-header>
        <ion-card-subtitle>Inventarios</ion-card-subtitle>
        <ion-card-title>Bienvenido usuario!</ion-card-title>
      </ion-card-header>
      
       
     
    </ion-card>
<ion-img src="/assets/inventarios.png" with =300></ion-img>
<p>Aplicacion creada para monitorear tu producto!</p>
</ion-content>
